{% set isAdmin = is_granted('ROLE_ADMIN') %}
{% set parameters = getParameters() %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{asset('favicon.png')}}">
        <title>
        {% block title %}{{ appname }} - {% endblock %}
        </title>
        {% block stylesheets %}
        <link href="{{ asset("build/css/template.css") }}" rel="stylesheet" />
        <link href="{{ asset("build/css/project.css") }}" rel="stylesheet" />
        <link href="{{ asset("build/css/toastr.css") }}" rel="stylesheet" />
        {% endblock %}
        {{ parameters and parameters.trackingCode ? parameters.trackingCode|raw }}
    </head>
    <body>
      {% include('base-includes/header.html.twig') %}
      <div class="container-fluid">
        {% include('base-includes/flashmessages.html.twig') %}
        <div class="row">
          <div class="col">
            {% block body %}
            {% endblock %}
          </div>
        </div>
        {% include('base-includes/footer.html.twig') %}
      </div>

      <div class="modal" id="wait-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body text-center my-4">
                <i class="fas fa-spinner fa-spin"></i> Redimensionnement en cours...
            </div>
          </div>
        </div>
      </div>

      <div id="help-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{"help"|trans}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Les images présentées, ainsi que les rectangles rouges, correspondent au lieu en cours d'exploration. Il est alors possible de naviguer dans le texte à travers les occurrences de ce lieu.
              Si aucun lieu n'est sélectionné, tous les documents sont présentés et toutes les occurrences de tous les lieux sont navigables dans le texte.</p>
              <p>Pour sélectionner un lieu, il faut cliquer sur une de ses occurrences textuelles ou graphiques
              </p>
              <p>Pour désélectionner un lieu, il faut soit le sélectionner de nouveau, soit cliquer sur la carte  - <i class="fas fa-map"></i> - à côté de la zone de saisie de lieu.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
            </div>
          </div>
        </div>
      </div>

      {% block javascripts %}
      <script src="{{ asset("build/runtime.js") }}"></script>
      <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
      <script src="{{ url('bazinga_jstranslation_js') }}"></script>
      <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
      <script src="{{ asset("build/js/vendor.js") }}"></script>
      <script src="{{ asset("build/js/main.js") }}"></script>
      {% endblock %}
    </body>
</html>
