{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"places"|trans}}{% endblock %}

{% block body %}
  <h1>{{"places"|trans}}</h1>
    <ul class="list-group">
      {% for place in places %}
        <li class="list-group-item">
          {{ place.name }} <span class="text-muted">{{ place.alias }}</span>
          <ul class="list-group">
            {% for mention in place.mentions %}
              <li class="list-group-item">
                {{ mention.image.name }} - <span class="text-muted">{{ mention.coordinates }}</span>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
