{% extends 'base.html.twig' %}

{% block title %} {{"forgotten_password"|trans}}{% endblock %}

{% block body %}
  <form method="post">
      <h1 class="h3 mb-3 font-weight-normal">{{"forgotten_password"|trans}}</h1>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">{{"email"|trans}}</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </div>
      <button class="btn btn-primary" type="submit">
          {{"send_mail"|trans}}
      </button>
  </form>
{% endblock %}
