{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
<form method="post">
   <h1 class="h3 mb-3 font-weight-normal">{{"register"|trans}}</h1>
   {{ form(form) }}
</form>
{% endblock %}
