{% extends 'base.html.twig' %}

{% block title %}{{"reset"|trans}}{% endblock %}

{% block body %}
  <form method="post">
      <h1 class="h3 mb-3 font-weight-normal">{{"reset_password"|trans}}</h1>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">{{"password"|trans}}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{"password"|trans}}" required>
      </div>
      <input type="hidden" name="token" value="{token}">

      <button class="btn btn-primary" type="submit">
          {{"reset"|trans}}
      </button>
  </form>
{% endblock %}
