{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"upload_datas"|trans}}{% endblock %}

{% block body %}
  <h1>{{"upload_datas"|trans}}</h1>

  Le contenu
  {{content}}

{% endblock %}
