{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"users"|trans}}{% endblock %}

{% block body %}
  <h1>{{"users"|trans}}</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{'email'|trans}}</th>
        <th scope="col">{{"roles"|trans}}</th>
        <th scope="col">{{"actions"|trans}}</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.email}}</td>
      <td>
          {% for role in user.roles %}
            - {{role|trans}} -
          {% endfor %}
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Définir rôle
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_USER"})}}">{{"user"|trans}}</a>
            <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_ADMIN"})}}">{{"admin"|trans}}</a>
            <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_SUPER_ADMIN"})}}">{{"superadmin"|trans}}</a>
          </div>
        </div>

        <a class="btn btn-sm btn-danger" href="{{path('admin_delete_user',{'id':user.id})}}">{{"delete"|trans}}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  {% if file is defined%}
    <a class="btn btn-outline-success" href="{{ asset(file) }}">{{"download_file"|trans}}</a>
  {% else %}
    <a class="btn btn-outline-warning" href="{{path('admin_export_users')}}">{{"export"|trans}}</a>
  {% endif %}

{% endblock %}
