<nav class="navbar navbar-expand navbar-dark" style="background-color:#15aabf">
  <div class=" w-100 order-1 order-md-0">
    <div class="navbar-nav mr-auto">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="fas fa-map-marked-alt"></i> {{ appname }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="active nav-item">
        <a class="nav-link" data-toggle="modal" href="#" data-target="#help-modal">
          <i class="far fa-question-circle"></i> {{"help"|trans}}
        </a>
      </li>
    </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-2">
    <ul class="navbar-nav ml-auto">
    {% if isAdmin %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-tools"></i> Administration
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path('admin_parameters') }}">
          <i class="fas fa-cogs"></i> {{"parameters"|trans}}
        </a>
        <a class="dropdown-item" href="{{ path('admin_list_users') }}">
          <i class="fas fa-users"></i> {{"users"|trans}}
        </a>
        <a class="dropdown-item" href="{{ path('admin_upload-datas') }}">
          <i class="fas fa-database"></i> {{"upload_datas"|trans}}
        </a>
        <a class="dropdown-item" href="{{ path('admin_upload-images') }}">
          <i class="fas fa-images"></i> {{"upload_images"|trans}}
        </a>
        <a class="dropdown-item" href="{{ path('admin_export-datas') }}">
          <i class="fas fa-file-export"></i> {{"export_datas"|trans}}
        </a>
        <a class="dropdown-item" href="{{ path('places_all') }}">
          <i class="fas fa-map-marked-alt"></i> {{"places"|trans}}
        </a>
      </div>
    </li>
    {% endif %}
    {% if not parameters.userBottom %}
      {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item">
          <a class="active nav-item nav-link" href="{{ path('app_register') }}">{{"register"|trans}}</a>
        </li>
        <li class="active nav-item">
          <a class="nav-item nav-link" href="{{ path('app_login') }}">{{"connect"|trans}}</a>
        </li>
      {% else %}
        <li class="active nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ app.user.username }} {{isAdmin ? "(admin)" }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('edit_user') }}">
              <i class="far fa-edit"></i> {{"edit_user"|trans}}
            </a>
            <a class="dropdown-item" href="{{ path('app_logout') }}">
              <i class="fas fa-sign-out-alt"></i> {{"logout"|trans}}
            </a>
          </div>
        </li>
      {% endif %}
    {% endif %}
    </ul>
  </div>
</nav>
