{% extends 'base.html.twig' %}

{% block title %} {{parent()}} {{"homepage"|trans}}{% endblock %}

{% block body %}
<div class="row pt-1">
  <div class="col text-center">
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Lieu</span>
        </div>
        <input list="locations-choices" id="locations-choice" name="locations-choice" />
        <span class="ml-2" id="btns">
          <span class="btn btn-outline-secondary" data-placement="bottom" id="previous" data-toggle="popover" data-content="Occurrence précédente" data-trigger="hover">
              <i class="fas fa-chevron-left"></i>
          </span>

          <span id="info-count-location"></span>

          <span class="btn btn-outline-secondary" data-placement="bottom" id="next" data-toggle="popover" data-content="Occurrence suivante" data-trigger="hover">
            <i class="fas fa-chevron-right"></i>
          </span>
        </span>
        <span class="ml-2" >
          <span id="reset" class="btn btn-outline-secondary" data-placement="bottom" data-toggle="popover" data-content="Réinitialiser la sélection" data-trigger="hover">
            <i class="fas fa-map"></i>
          </span>
        </span>
      </div>
      <datalist id="locations-choices">
        {% for place in places %}
          <option data-location="{{place.alias}}" value="{{place.name}}">
        {% endfor %}
      </datalist>
  </div>
  <div class="col text-right">
      <a id="zoom-out" data-toggle="popover"  data-placement="bottom" data-content="Diminuer la taille des images" class="btn btn-outline-secondary" data-trigger="hover">
        <i class="fas fa-search-minus"></i>
      </a>
      <a id="zoom-in" data-toggle="popover"  data-placement="bottom" data-content="Augmenter la taille des images" class="btn btn-outline-secondary" data-trigger="hover">
        <i class="fas fa-search-plus"></i>
      </a>
  </div>
</div>

<hr/>

<div class="row mt-2">
  <div id="roman-container" class="col-4">
    <div class="card">
      <div class="card-header">
        ﻿Victor Hugo, Les Travailleurs de la mer
        <span class="float-right">
          <a id="collapse" class="btn btn-outline-secondary"  data-placement="top" data-toggle="popover" data-content="Rétrécir la zone de texte" data-trigger="hover">
          <i class="fas fa-compress"></i>
          </a>
          <a id="expan" class="btn btn-outline-secondary"  data-placement="top" data-toggle="popover" data-content="Étendre la zone de texte" data-trigger="hover">
            <i class="fas fa-expand"></i>
          </a>
        </span>
      </div>
      <div id="roman" class="card-body">
        {% if romans[0] is defined %}
          {{ romans[0].content | raw }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div id="gallery" style="column-count:2">
        {% for image in images %}
          <div class="card mb-2">
            <div class="card-header">
              <a class="image-modal" href="#" data-imagename="{{image.name}}" data-url="{{asset("data/images/" ~ image.name)}}">{{image.name}}</a>
            </div>
            <div class="card-body p-0">
              <object id="{{image.name}}" class="emb" data="{{asset("data/images/" ~ image.svg)}}" width="100%" type="image/svg+xml"></object>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="modal-image" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document" style="max-width:80%;width:80%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <div class="text-center">
            <span id="modal-image-title"></span>
          </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="mb-1">
          <button id="osd-zoom-in" type="button" class="btn btn-light">
            <i class="fa fa-search-plus"></i>
          </button>
          <button id="osd-zoom-out" type="button" class="btn btn-light">
            <i class="fa fa-search-minus"></i>
          </button>
          <button id="osd-home" type="button" class="btn btn-light">
            <i class="fa fa-home"></i>
          </button>
          <button id="osd-full-page" type="button" class="btn btn-light">
            <i class="fa fa-arrows-alt"></i>
          </button>
          <button id="osd-left" type="button" class="btn btn-light">
            <i class="fa fa-undo"></i>
          </button>
          <button id="osd-right" type="button" class="btn btn-light">
            <i class="fas fa-redo-alt"></i>
          </button>
          <a href="#" download id="osd-download" type="button" class="btn btn-light">
            <i class="fas fa-file-download"></i>
          </a>
        </div>
        <div id="seadragon-viewer" style="width:100%; height:800px;"></div>
          <div class="bgblue" id="modal-current-location"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script>
    var jsonMention = JSON.parse({{ jsonMention|json_encode|raw }});
  </script>
  <script type="text/javascript" src="{{ asset("build/js/index.js") }}" defer></script>
  <script type="text/javascript" src="{{ asset("build/js/openseadragon-svg-overlay.js") }}" defer></script>
{% endblock %}
